<!DOCTYPE html>
	<html lang="ru">
	<head>
		<meta charset="urf-8">
		<title>Squares</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<noscript>
			<meta http-equiv="refresh" content="0; URL=/badbrowser">
		</noscript>

		<link href="/static/fonts/OpenSasns.ttf" rel="stylesheet">
		<!-- <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet"> -->
	</head>
	<body>
		<div id="app"></div>
	</body>
</html>