<!DOCTYPE html>
	<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>Squares</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<noscript>
			<meta http-equiv="refresh" content="0; URL=/badbrowser">
		</noscript>

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">
	</head>
	<body>
		<div id="app"></div>
		<script type="text/javascript" src="//polyfill.io/v3/polyfill.min.js?features=default%2CSet"></script>
	</body>
</html>