@import '../../sass/variables.sass'
@import '../../sass/utils.sass'


.header
	top: 0
	position: fixed
	height: $ui-header-height
	width: 100%
	background-color: $color-main
	box-shadow: $ui-shadow-light

.header__inner
	width: $ui-page-width
	height: 100%
	margin: 0 auto
	display: flex
	overflow: hidden

.header__logo
	float: left
	width: 70px
	background: #e63462
	background: linear-gradient(#fe5f55, #e63462)

.header__logo-inner
	display: block
	height: $ui-header-height
	background-size: contain
	background-repeat: no-repeat
	background-image: url(../../img/squares-logo-small.png)
	background-position: center

.header__inner-left
	color: 0

.header__inner-middle
	flex: 1

.header__inner-right
	color: 0

.header__btn-sign-in
	@extend .ui-button
	margin: 6px
	width: 100px


/* Nav styles */
/* =================== */
.navbar
	float: left
	height: 100%

.navbar__items-wrapper
	margin: 0
	padding: 0
	list-style: none
	height: 100%

.navbar__item
	float: left
	border-right: 1px solid #222

	&.active
		background-color: #2e323e

.navbar__item-link
	display: block
	font-size: 1.05em
	font-weight: 400
	color: $color-white
	text-decoration: none
	line-height: $ui-header-height
	padding: 0 30px