// Viewports
$screen-md: 1280px
$screen-sm: 800px
$screen-tablet: 768px
$screen-mob: 425px
$screen-mob-m: 375px


// UI
$UI_PAGE_WIDTH: 85%
$UI_BORDER: 1px solid rgba(0, 0, 0, .2)
$UI_SHADOW_LIGHT: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24)
$UI_GRADIENT: linear-gradient(#fe5f55, #e63462)

// Colors
$COLOR_BG: #E7E9EF
$COLOR_MAIN: #333745
$COLOR_LIGHT: $COLOR_BG
$COLOR_WHITE: #f3f3f3