@import './variables.sass'
@import './normalize.sass'

*
	outline: none

html,
body
	direction: ltr
	background-color: $color-bg
	font: normal normal 400 14px/1.5 system-ui, -apple-system, BlinkMacSystemFont, 'Open Sans', sans-serif
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.content
	box-sizing: border-box
	width: calc(100% - #{$ui-header-incline * 2})
	margin: 1em auto
	padding: 10px
	box-shadow: $ui-shadow-light
	background-color: $color-white