@import './variables.sass'
@import './utils.sass'

*,
::before,
::after
	margin: 0
	padding: 0
	outline: none
	box-sizing: border-box

html,
body
	height: 100%
	direction: ltr
	background-color: $color-bg
	font: normal normal 400 14px/1.5 Roboto, sans-serif

\:global(#squares)
	overflow: hidden
	height: inherit

main
	@extend .clearfix
	width: $ui-page-width
	height: calc(100% - #{$ui-header-height} - 2em) // 2em - sum of top and bottom layout margin
	margin: 1em auto